{{!< default}}

<main id="gh-main" class="gh-main gh-outer">
    <div class="gh-inner">
        <div class="gh-wrapper">
            <section class="gh-section">
                <h2 class="gh-section-title">More issues</h2>

                <div class="gh-feed">
                    {{^is "paged"}}
                        {{#foreach posts}}
                            {{> loop}}
                        {{/foreach}}
                    {{else}}
                        {{#foreach posts}}
                            {{> loop}}
                        {{/foreach}}
                    {{/is}}
                </div>

                {{#match posts.length "=" 1}}
                    Additional issues will be published soon.
                {{/match}}

                <button class="gh-loadmore gh-btn">Load more issues</button>
            </section>

            {{> "sidebar"}}
        </div>
    </div>
</main>